@font-face {
  font-family: "Alien League Bold";
  src: url('fonts/alienleaguebold.ttf');
}
@font-face {
  font-family: "Andale Mono";
  src: url('fonts/ufonts.com_andale-mono.ttf');
}
@font-face {
  font-family: "Helvetica CE";
  src: url('fonts/Helvetica_CE_Bold.ttf');
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Andale Mono";
    font-size: 16px;
}
/*General*/
.container {
    display: relative;
    padding: 15px 0 20px 0;
    width: 100%;
    max-height: 200%;
    height: auto;
}

.icon {
    height: 20%;
    width: auto;
}


/*Navigation*/

nav {
    height: auto;
    width: 100%;
    position: fixed;
    background-color: rgba(41, 163, 201, 0.86);
    display: flex;
    z-index: 100;
}

nav a {
    color: white;
}

nav a:focus, nav a:hover, nav a:active{
    text-decoration: none;
    color: #FBA628;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
}

.social_links{
  text-align: right;
  padding-right: 40px;
  flex-basis:50%;
  cursor: pointer;
  margin-top: 10px;
  width: auto;
}

.social_links img {
    max-height: 30px;
    width: auto;
    margin-right: auto;
}

#logo{
  display: inline;
  width: auto;
  max-height: 50px;
  height: auto;
}

#mobMenuIcon {
    display: inline;
    max-height: 100%;
    height: auto;
    cursor: pointer;
}

@media(min-width:768px) {
    #mobMenuIcon {
        display: none;
    }
    .inner_links{
      flex-basis:50%;
      display: inline;
      height: 25px;
      margin-top: 15px;
    }
    nav ul li {
        margin-left: 50px;
    }
}

@media(max-width:768px) {
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .social_links{
      display: flex;
      justify-content: space-around;
    }
    .inner_links {
        order: 3;
        flex: 0 1 100%;
    }
    .inner_links li {
        text-align: left;
        display: block;
    }
}


/*Head Section*/

.main_head {
    width: 100%;
    height: auto;
}


/*Video Section*/

.video_cont {
    text-align: center;
    margin-top: -1px;
    background-image: url('img/backgrounds/bg_video.jpg');
    color: white;
}
@media(max-width:768px){
 iframe {
   width:100%;
   height: auto;
 }
 }
/*Features Section*/
.features_cont {
    padding: 40px 0 40px 0;
    background-image: url('img/backgrounds/bg_features.jpg');
    color: white;
    height: auto;
}

.features_cont h2{
  margin-top: 5px;
  font-family: "Alien League Bold";
}

.feature {
    text-align: center;
}

.feature p{
  margin-top: 20px;
}

/*Slider Section*/

.slider_cont {
    background-image: url('img/backgrounds/bg_video.jpg');
    text-align: center;
}
/*Footer Section*/

.footer_cont {
    background-image: url('img/backgrounds/bg_features.jpg');
    color: white;
    text-align: center;
    width: 100%;
    height: auto;
}

.footer_cont h2 {
    font-family: "Helvetica CE";
    font-size: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_text {
    font-size: 10px;
    margin-top: 30px;
}
