@font-face {
  font-family: "Alien League Bold";
  src: url('fonts/alienleaguebold.ttf');
}
@font-face {
  font-family: "Andale Mono";
  src: url('fonts/ufonts.com_andale-mono.ttf');
}
@font-face {
  font-family: "Helvetica CE";
  src: url('fonts/Helvetica_CE_Bold.ttf');
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Andale Mono";
}
/*General Classes*/

.container {
    padding: 15px 0 20px 0;
    width: 100%;
    max-height: 100%;
    height: auto;
}

.icon {
    height: 20%;
    width: auto;
}


/*Navigation*/

nav {
    padding-top: 5px;
    text-align: center;
    width: 100%;
    position: fixed;
    background-color: rgba(191, 78, 63, 0.82);
    z-index: 100;
}

nav div {
    display: inline;
}

nav a {
    color: white;
}

nav a:hover, nav a:active {
    text-decoration: none;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

.inner_links li {
    padding: 5px 0 5px 0;
}

nav img {
    max-height: 30px;
    width: auto;
    cursor: pointer;
}

#mobMenuIcon {
    display: inline;
}

@media(min-width:768px) {
    #mobMenuIcon {
        display: none;
    }
    .inner_links {
        display: inline;
        margin-top: 10px;
    }
}

@media(max-width:768px) {
    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .inner_links {
        order: 3
    }
    .inner_links li {
        text-align: left;
        display: block;
    }
}


/*Head Section*/

.main_head {
    width: 100%;
    height: auto;
}


/*Video Section*/

.video_cont {
    text-align: center;
    margin-top: -1px;
    background-image: url('img/backgrounds/bg_video.jpg');
    color: white;
}

.videoWrapper {
	position: relative;
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/*Features Section*/

.features_cont h2{
  margin-top: 5px;
  font-family: "Alien League Bold";
}

.features_cont {
    padding: 40px 0 40px 0;
    background-image: url('img/backgrounds/bg_features.jpg');
    color: white;
    width: 100%;
}

.feature {
    text-align: center;
}

.feature p{
  margin-top: 20px;
}

/*Slider Section*/

.slider_cont {
    background-image: url('img/backgrounds/bg_video.jpg');
    text-align: center;
}

.slider_cont img {
    width: 100%;
}


/*Footer Section*/

.footer_cont {
    background-image: url('img/backgrounds/bg_features.jpg');
    color: white;
    text-align: center;
}

.footer_cont h2 {
    font-family: "Helvetica CE";
    font-size: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_text {
    font-size: 10px;
    margin-top: 30px;
}
